body {
    font-family: Arial, sans-serif;
    text-align: center;
}
form {
    width: 300px;
    margin: 0 auto;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    background-color: #4cacaf;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.container {
    background-color: #4caf50;
    padding: 20px;
    border-radius: 5px;
}

.boton-inicio {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* Margen superior para separarlo del formulario */
}

.boton-inicio:hover {
    background-color: #007bff;
}